/* Editor classes */ 
 
/* CKEditor padding in IE */ 
table.cke_editor fieldset { 
    padding: 0 !important; 
} 
/* hack with ie and garland editing area size fix - [#733512] */ 
.cke_editor{ 
    display: table !important; 
} 
.cke_editor,#ie#bug { 
    display: inline-table !important; 
} 
/* Fix table border for Drupal's Seven theme - [#1020612] */ 
.cke_dialog tr td:last-child { 
    border-right: 0; 
} 
/* Panels in IE11 [#2244835] */ 
.cke.cke_chrome { 
    visibility: inherit; 
} 
.cke.cke_panel { 
    visibility: visible; 
} 
 
/* Bootstrap styles */ 
.ckeditor-template-row { 
	margin-left: -15px; 
	margin-right: -15px; 
} 
.ckeditor-template-row:before, .ckeditor-template-row:after { 
	content: " "; 
	display: table; 
} 
.ckeditor-template-row:after { 
	clear: both; 
} 
 
.ckeditor-template-col-xs-1, .ckeditor-template-col-sm-1, .ckeditor-template-col-md-1, .ckeditor-template-col-lg-1, .ckeditor-template-col-xs-2, .ckeditor-template-col-sm-2, .ckeditor-template-col-md-2, .ckeditor-template-col-lg-2, .ckeditor-template-col-xs-3, .ckeditor-template-col-sm-3, .ckeditor-template-col-md-3, .ckeditor-template-col-lg-3, .ckeditor-template-col-xs-4, .ckeditor-template-col-sm-4, .ckeditor-template-col-md-4, .ckeditor-template-col-lg-4, .ckeditor-template-col-xs-5, .ckeditor-template-col-sm-5, .ckeditor-template-col-md-5, .ckeditor-template-col-lg-5, .ckeditor-template-col-xs-6, .ckeditor-template-col-sm-6, .ckeditor-template-col-md-6, .ckeditor-template-col-lg-6, .ckeditor-template-col-xs-7, .ckeditor-template-col-sm-7, .ckeditor-template-col-md-7, .ckeditor-template-col-lg-7, .ckeditor-template-col-xs-8, .ckeditor-template-col-sm-8, .ckeditor-template-col-md-8, .ckeditor-template-col-lg-8, .ckeditor-template-col-xs-9, .ckeditor-template-col-sm-9, .ckeditor-template-col-md-9, .ckeditor-template-col-lg-9, .ckeditor-template-col-xs-10, .ckeditor-template-col-sm-10, .ckeditor-template-col-md-10, .ckeditor-template-col-lg-10, .ckeditor-template-col-xs-11, .ckeditor-template-col-sm-11, .ckeditor-template-col-md-11, .ckeditor-template-col-lg-11, .ckeditor-template-col-xs-12, .ckeditor-template-col-sm-12, .ckeditor-template-col-md-12, .ckeditor-template-col-lg-12 { 
	  position: relative; 
	  min-height: 1px; 
	  float: left; 
	  padding: 15px; 
	  box-sizing: border-box; 
	  -moz-box-sizing: border-box; 
} 
.ckeditor-template-col-md-6 { 
	width: 50%; 
} 
.ckeditor-template-col-md-3 { 
	width: 25%; 
} 
.ckeditor-template-col-md-9 { 
  	width: 75%; 
} 
.ckeditor-template-col-md-4 { 
  	width: 33.3%; 
} 
 
/* Custom styles */ 
.ckeditor-template-col-md-6 img, 
.ckeditor-template-col-md-3 img, 
.ckeditor-template-col-md-4 img, 
.ckeditor-template-col-md-9 img { 
	display: block; 
	max-width: 100%; 
	height: auto; 
} 
.ckeditor-template-row, 
.two-col, 
.two-col-left, 
.two-col-right, 
.three-col, 
.four-col, 
.accordion { 
	padding: 8px; 
	margin: 10px auto; 
	background: #eee; 
	border-radius: 8px; 
	border: 1px solid #ddd; 
	box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset; 
} 
.two-col .ckeditor-template-col-md-6, 
.two-col-left .ckeditor-template-col-md-3, 
.two-col-left .ckeditor-template-col-md-9, 
.two-col-right .ckeditor-template-col-md-3, 
.two-col-right .ckeditor-template-col-md-9, 
.three-col .ckeditor-template-col-md-4, 
.four-col .ckeditor-template-col-md-3, 
.accordion dd .content, 
.accordion dd.accordion-navigation>a, 
.col { 
	box-shadow: 0 1px 1px #ddd inset; 
	border: 1px solid #cccccc; 
	border-radius: 5px; 
	background: #fff; 
	min-height: 5em; 
} 
.two-col .ckeditor-template-col-md-6, 
.two-col-left .ckeditor-template-col-md-3, 
.two-col-left .ckeditor-template-col-md-9, 
.two-col-right .ckeditor-template-col-md-3, 
.two-col-right .ckeditor-template-col-md-9 { 
	margin: -3px; 
} 
.two-col-right .ckeditor-template-col-sidebar, 
.two-col-left .ckeditor-template-col-sidebar { 
	padding: 15px 0; 
} 
.two-col .ckeditor-template-col-2 { 
	margin-left: 9px; 
} 
.three-col .ckeditor-template-col-1 { 
	margin-left: -3px; 
} 
.three-col .ckeditor-template-col-2 { 
	margin-left: 3px; 
} 
.three-col .ckeditor-template-col-3 { 
	margin-left: 3px; 
	margin-right: -3px; 
} 
.two-col-left .ckeditor-template-col-md-9{ 
	margin-left: 8px; 
} 
.two-col-right .ckeditor-template-col-md-9{ 
	margin-right: 8px; 
} 
.four-col .ckeditor-template-col-1 { 
	margin-left: -4px; 
} 
.four-col .ckeditor-template-col-2 { 
	margin-left: 3px; 
} 
.four-col .ckeditor-template-col-3 { 
	margin-left: 3px; 
} 
.four-col .ckeditor-template-col-4 { 
	margin-right: -5px; 
	margin-left: 3px; 
} 
 
 
 
.accordion { 
	padding-top: 2px; 
} 
.accordion:before { 
	content: 'Accordion'; 
	text-transform: uppercase; 
	padding-bottom: 4px; 
	font-size: 10px; 
	color: #888; 
} 
.accordion dd.accordion-navigation > .content, 
.accordion dd > .content { 
	display: block !important; 
} 
.accordion dd.accordion-navigation { 
	margin-bottom: .7em !important; 
} 
.accordion dd.accordion-navigation>a { 
	padding: 5px; 
	background: #ddd; 
	min-height: 0; 
	margin-bottom: 1px; 
} 
.accordion dd.accordion-navigation>a p { 
	margin: 0; 
} 
 
.box, 
.quotebox { 
	padding: 8px; 
	margin: 10px auto; 
	background: #eee; 
	border-radius: 8px; 
	border: 1px solid #ddd; 
	box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset; 
} 
.box .box-title, 
.box .box-content, 
.quotebox .quote, 
.quotebox .byline { 
	box-shadow: 0 1px 1px #ddd inset; 
	border: 1px solid #cccccc; 
	border-radius: 5px; 
	background: #fff; 
	margin-left: 0; 
	margin-right: 0; 
	padding: 2px 5px; 
} 
.quotebox .byline { 
	text-align: right; 
	font-style: italic; 
} 
 
.box .box-content, 
.quotebox .quote { 
	min-height: 3em; 
} 
 
.box .box-title p, 
.quotebox .byline p { 
	margin-bottom: 0; 
} 
 
.box .box-title { 
	background: #ddd; 
} 
.box .ckeditor-template-row { 
	margin-left: 0; 
	margin-right: 0; 
} 
 
.quotebox { 
	background: #efefef url(../images/postquote.png) 5px 2px no-repeat; 
    border: 1px solid #785fa0; 
} 
.quotebox .quote { 
	margin-left: 20px; 
	margin-bottom: 5px; 
} 

[class*="col"] {
	box-shadow: 0 1px 1px #ddd inset;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #fff;
    min-height: 5em;
    margin-left: 0.5em;
}
[class*="col"]:first-child {
	margin-left: -0.25em;
}
[class*="col"]:last-child {
	margin-right: -0.5em;
}
